.Layout{
    display:flex;
    justify-content: center;
    margin-top:100px
}

.Layout__title{
    text-align:center
}

.Layout__paper{
    width:40%;
    height:400px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap:wrap
}

.Layout__buttons{
    width:100%;
    display:flex;
    justify-content: space-around;
}

.Layout__button{
    text-decoration: none;
}

