.Login{
    display:flex;
    justify-content: center;
    margin-top:100px;
    height:400px
}

.Login__paper{
    display:flex;
    padding:50px;
    justify-content: center;
    width:30%;
    flex-wrap:wrap
}

.Login__inputs {
    width:100%;
    display:flex;
    justify-content: Center;
    flex-wrap:wrap
}

.Login__input{
    width:100%
}

.Login__button{
    text-decoration: none;
}

.Login__text{
    width:100%;
    text-align:center
}